* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #FA9DAA;
  display: flex;
  align-items: center;

}

.logo {
padding: 20px;
}
.menu ul {
  display: flex;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.menu ul li {
margin-left: 30px;

}


.buttonHeader{
 padding: 20px;
 background-color: #ffffff;
 color: #FA9DAA;
 font-size: 20px;
 letter-spacing: 0.8px;
 font-weight: bold;
 border: none;
 border-radius: 3px;

}
