 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: #FA9DAA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  
}

.logo {
  width: 219.8px;
  height: 65.61;
  margin-left: 242px;
  margin-right: 268px;
}

.menu ul {
  display: flex;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.menu ul li {
margin-left: 34px;

}

.buttonHeader{
 width: 200px;
 height: 65px;
 padding: 24px;
 background-color: #ffffff;
 color: #FA9DAA;
 font-size: 20px;
 letter-spacing: 0.8px;
 font-weight: bold;
 border: none;
 border-radius: 13px;
 margin-left: 58px;
 margin-right: 87px; 

}

.banner {
  width: 100%;
  height: 755px;
  background-color: #FA9DAA;
}

/* .infoBanner {
  position: absolute;

} */

.banner h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  font-weight: bold;
  color: #FFFFFF;


  
}

.banner h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: lighter;
  color: #ffffff;


}

.banner h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #ffffff;

}

.buttonBanner {
  width: 200px;
 height: 65px;
 padding: 24px;
 background-color: #ffffff;
 color: #FA9DAA;
 font-size: 20px;
 letter-spacing: 0.8px;
 font-weight: bold;
 border: none;
 border-radius: 13px;

}

.imageBannerCircle {
 margin-bottom: 500px;
 margin-left: 450px;
 padding: 20px;
 
}


.imageBannerCar {
margin-bottom: 20px;
}